@font-face{
    font-family: 'arial';
    src: url(../fonts/arial/arial.ttf);
}
@font-face{
    font-family: 'roboto';
    src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
}
@font-face{
    font-family: 'roboto';
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face{
    font-family: 'helvetica';
    src: url(../fonts/helvetica/HelveticaBold/HelveticaBold.ttf);
}
@font-face{
    font-family: 'helvetica';
    src: url(../fonts/helvetica/HelveticaMedium/HelveticaMedium.ttf);
}